@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,700;1,700&display=swap');
.background {
    background: linear-gradient(45deg, black, blue);
    
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

// Este es para las vistas
#container {
    background: linear-gradient(90deg, black, lightgrey);
}


.text {

    text-align: center !important;
    font-size: xx-large !important;
    font-family: "Anton" , sans-serif !important;
    margin-bottom: -2px !important;
    font-style: italic;

}

.iptTitle{

    margin-bottom: 20px;
    
}


#createButons{

    gap: 20px;

}

.acss-ozo177{

    padding: 6px !important;

}

#contents{

    width: 350px;
    border: solid 2px;
    padding: 5px;

}



.title{

    padding-bottom: 100px;

}


small{

    color: grey;
    padding-left: 10px;

}


@import "../../.././../node_modules/bootstrap/scss/bootstrap.scss"